*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font-primary , sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.rwd-none {
    @include pad {
        display: none;
    }
}