/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.d-flex {
  display: flex;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .rwd-none {
    display: none;
  }
}

.btn-top {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  color: #ffffff;
  background: #56C4C5;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 500;
}

.nav-btn {
  width: 128px;
  height: 40px;
  color: #FFFFFF;
  background: #FF5D50;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
}

.footer {
  background: #F5F5F5;
  text-align: center;
  padding: 16px 0;
}

.wrap {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  height: 768px;
}
@media (max-width: 768px) {
  .wrap {
    background-image: none;
  }
}

.nav-detail {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .nav-detail {
    border-bottom: 2px solid #FFD153;
  }
}

.logo {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/logo.png?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
  width: 250px;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .logo {
    height: 24px;
  }
}

.banner {
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 88px);
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    justify-content: start;
    height: calc(100vh - 74px);
  }
}
.banner-wrap {
  position: relative;
}
.banner h1 {
  font-size: 18px;
  color: #56C4C5;
  font-weight: bold;
}
@media (max-width: 768px) {
  .banner h1 {
    font-size: 16px;
  }
}
.banner h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .banner h2 {
    font-size: 32px;
  }
}
.banner h3 {
  font-size: 20px;
}
@media (max-width: 768px) {
  .banner h3 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .banner-img {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
.banner-img img {
  width: 532px;
}
@media (max-width: 768px) {
  .banner-img img {
    width: 300px;
  }
}

.ball-1 {
  position: absolute;
  top: calc(100vh - 268px);
  width: 138px;
  height: 360px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg");
  background-position: right;
}
@media (max-width: 768px) {
  .ball-1 {
    top: calc(100vh - 74px);
    width: 49px;
    height: 126px;
    background-size: 126px;
  }
}

.social {
  max-width: 969px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .social {
    margin-bottom: 60px;
  }
}
.social h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .social h2 {
    font-size: 28px;
    margin-bottom: 32px;
  }
}
.social h3 {
  font-size: 20px;
  text-align: center;
  margin: 24px 0;
}
@media (max-width: 768px) {
  .social h3 {
    font-size: 18px;
    margin: 16px 0;
  }
}
.social img {
  height: 90px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .social img {
    height: 60px;
  }
}
.social p {
  color: #747474;
  text-align: center;
}
.social-list {
  justify-content: space-between;
}
@media (max-width: 768px) {
  .social-list {
    flex-direction: column;
  }
}
.social-item {
  min-width: 33%;
}
@media (max-width: 768px) {
  .social-item {
    margin-bottom: 24px;
  }
}

.character {
  margin-bottom: 100px;
}
.character-wrap {
  position: relative;
}
@media (max-width: 768px) {
  .character {
    margin-bottom: 60px;
  }
}
.character h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}
@media (max-width: 768px) {
  .character h2 {
    font-size: 28px;
  }
}
.character h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .character h3 {
    font-size: 18px;
    margin-bottom: 32px;
  }
}
.character-list {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -16px;
}
@media (max-width: 768px) {
  .character-list {
    flex-direction: column;
    margin-right: 0;
  }
}
.character-card {
  width: calc(25% - 16px);
  margin-right: 16px;
  border-radius: 12px;
  box-shadow: 3px 3px 10px #747474;
  background: #ffffff;
  z-index: 1;
}
@media (max-width: 768px) {
  .character-card {
    width: calc(100% - 32px);
    margin: 0 18px 24px 18px;
  }
}
.character-card img {
  border-radius: 12px 12px 0 0;
}
.character h4 {
  color: #56C4C5;
  font-weight: bold;
  text-align: center;
  margin: 16px 0;
}
.character p {
  text-align: center;
  margin-bottom: 24px;
}

.ball-2 {
  position: absolute;
  bottom: -160px;
  right: 0;
  width: 210px;
  height: 320px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg");
  background-repeat: no-repeat;
  z-index: 0;
}
@media (max-width: 768px) {
  .ball-2 {
    bottom: -10px;
    width: 88px;
    height: 135px;
    background-size: 135px;
  }
}

.intro {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
    margin-bottom: 36px;
  }
}
.intro-list {
  max-width: 507px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -47px;
}
@media (max-width: 768px) {
  .intro-list {
    margin-right: 0;
  }
}
.intro-list h3 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.intro-card {
  width: calc(50% - 47px);
  border-radius: 12px;
  box-shadow: 3px 3px 10px #747474;
  padding: 32px 0 48px 32px;
  margin-right: 47px;
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  .intro-card {
    width: calc(100% - 100px);
    margin: 0 50px;
    margin-bottom: 24px;
  }
}
.intro-icon {
  width: 86px;
  height: 86px;
  border-radius: 43px;
  box-shadow: 3px 3px 10px #747474;
  padding-top: 15px;
}
.intro-icon img {
  margin: 0 auto;
}
.intro-content {
  margin-left: 24px;
}
.intro-content h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .intro-content h2 {
    font-size: 28px;
    text-align: center;
  }
}
.intro-content h3 {
  font-size: 18px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .intro-content h3 {
    font-size: 16px;
    text-align: center;
  }
}
.intro-btn {
  width: 136px;
  height: 50px;
  color: #ffffff;
  background: #56C4C5;
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .intro-btn {
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.feedback h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 104px;
}
@media (max-width: 768px) {
  .feedback h2 {
    font-size: 28px;
    margin-bottom: 88px;
  }
}
.feedback-list {
  justify-content: space-between;
  margin-right: -16px;
  position: relative;
}
@media (max-width: 768px) {
  .feedback-list {
    flex-direction: column;
    margin-right: 0;
  }
}
.feedback-card {
  width: calc(33.3333333333% - 16px);
  margin-right: 16px;
  padding: 48px 32px 24px 32px;
  border-radius: 12px;
  box-shadow: 3px 3px 10px #747474;
  background: #ffffff;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .feedback-card {
    width: 100%;
    margin: 0 auto;
  }
}
.feedback-card p {
  margin-bottom: 24px;
}
.feedback-card hr {
  background-color: #747474;
  height: 2px;
}
.feedback h3 {
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 12px;
}
.feedback-star {
  justify-content: space-between;
  align-items: center;
}
.feedback-img {
  position: absolute;
  top: -50px;
  left: 32px;
}
.feedback-img img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.feedback-pagination {
  justify-content: center;
  margin-top: 24px;
}

.stars img {
  margin-right: 8px;
}

.gray-dot {
  width: 10px;
  height: 10px;
  background: #DDDDDD;
  border-radius: 5px;
  margin-right: 8px;
}

.ball-3 {
  position: absolute;
  top: -110px;
  left: -90px;
  width: 150px;
  height: 150px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
  background-repeat: no-repeat;
  background-size: 150px;
  z-index: 0;
}

.yellow-bar {
  width: 16px;
  height: 10px;
  background: #FFD153;
  border-radius: 5px;
}

.info {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 503px;
  margin-top: 100px;
  padding-top: 320px;
}
@media (max-width: 768px) {
  .info {
    margin-top: 60px;
  }
}
.info h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .info h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.info-btn {
  width: 136px;
  height: 50px;
  color: #ffffff;
  background: #56C4C5;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  font-size: 18px;
}

.method-wrap {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg");
  background-size: 885px;
  background-repeat: no-repeat;
  background-position: top right;
  height: 100vh;
  position: relative;
}
@media (max-width: 768px) {
  .method-wrap {
    background-image: none;
  }
}
.method-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .method-container {
    padding: 0;
  }
}

.method-nav {
  align-items: center;
  justify-content: space-between;
}
.method-nav-wrap {
  position: relative;
}
@media (max-width: 768px) {
  .method-nav {
    border-bottom: 2px solid #FFD153;
    padding: 0 16px;
  }
}

.method-ball-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 470px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg");
  background-repeat: no-repeat;
  background-size: 2300px;
  background-position: top -1350px left -80px;
  z-index: -1;
  opacity: 0.3;
}
@media (max-width: 768px) {
  .method-ball-2 {
    top: 74px;
    height: calc(100vh - 100px);
    background-position: top -1000px left -10px;
  }
}

.method-logo {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/logo.png?raw=true");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
  width: 250px;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .method-logo {
    height: 24px;
  }
}

.method-banner {
  padding-top: 92px;
  padding-bottom: 270px;
  height: calc(100vh - 74px);
}
@media (max-width: 768px) {
  .method-banner {
    padding: 48px 16px 360px 16px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right -10px;
  }
}
.method-banner h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .method-banner h2 {
    font-size: 32px;
  }
}

.method-main {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .method-main {
    padding: 0 16px;
    margin-bottom: 60px;
  }
}
.method-main-wrap {
  position: relative;
}
.method-main h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .method-main h2 {
    font-size: 28px;
    margin-bottom: 24px;
    padding: 0 16px;
  }
}
.method-main-people {
  margin: 0 auto;
}
.method-main-people ul {
  margin: 0 90px;
  justify-content: space-between;
  margin-bottom: 54px;
}
@media (max-width: 992px) {
  .method-main-people ul {
    margin: 0 0 24px 0;
    overflow-x: auto;
  }
}

.method-ball-3 {
  position: absolute;
  top: 300px;
  left: 0;
  width: 94px;
  height: 360px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
  background-repeat: no-repeat;
  background-size: 360px;
  background-position: right;
  z-index: -1;
}
@media (max-width: 768px) {
  .method-ball-3 {
    top: 600px;
    width: 150px;
  }
}

.people-btn {
  width: 130px;
  height: 50px;
  border-radius: 25px;
  color: #56C4C5;
  border: 1px solid #56C4C5;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}
@media (max-width: 768px) {
  .people-btn {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 40px;
    margin: 0 3px;
  }
}

.selected {
  color: #ffffff;
  background: #56C4C5;
}

.method-list {
  max-width: 900px;
  margin-right: -20px;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .method-list {
    flex-direction: column;
    margin-right: 0;
  }
}
.method-card {
  width: calc(50% - 10px);
  text-align: center;
  padding: 10px 20px 32px 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 10px #747474;
  margin-right: 20px;
  background: #ffffff;
}
@media (max-width: 992px) {
  .method-card {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
.method-card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.method-card p {
  margin: 24px 0 32px 0;
}
.method-card img {
  margin-right: 12px;
}
.method-card ul li {
  margin-bottom: 16px;
}

.cal {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.cal p {
  font-size: 32px;
  margin: 0 12px;
}
@media (max-width: 992px) {
  .cal p {
    margin: 0 6px;
  }
}
.cal-btn {
  width: 136px;
  height: 50px;
  color: #FFFFFF;
  background: #56C4C5;
  font-size: 18px;
  border-radius: 25px;
  line-height: 50px;
  margin: 0 auto;
  margin-top: 32px;
}

.subscribe {
  background: #F5F5F5;
  padding: 24px;
  border-radius: 12px;
}
@media (max-width: 992px) {
  .subscribe {
    width: 49%;
    padding: 16px 8px;
  }
}
.subscribe h4 {
  font-size: 12px;
}
.subscribe p {
  display: inline;
  color: #56C4C5;
  font-size: 32px;
  margin: 0;
}
@media (max-width: 992px) {
  .subscribe p {
    font-size: 28px;
  }
}

.sub {
  margin-left: 8px;
  font-size: 12px;
}
@media (max-width: 992px) {
  .sub {
    margin: 0;
  }
}

.monthly {
  background: #F5F5F5;
  padding: 24px;
  border-radius: 12px;
}
@media (max-width: 992px) {
  .monthly {
    width: 46%;
    padding: 16px 8px;
  }
}
.monthly h4 {
  font-size: 12px;
}
.monthly p {
  display: inline;
  font-size: 32px;
  margin: 0;
}
@media (max-width: 992px) {
  .monthly p {
    font-size: 28px;
  }
}

.QA {
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .QA {
    padding: 0 16px 60px 16px;
  }
}
.QA h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
  text-align: center;
}
@media (max-width: 768px) {
  .QA h2 {
    font-size: 28px;
    margin-bottom: 28px;
  }
}
.QA ul li {
  margin-bottom: 16px;
}
.QA-item {
  margin: 0 auto;
  width: 100%;
  border-radius: 12px;
  box-shadow: 3px 3px 10px #747474;
  padding: 16px 32px;
}
@media (max-width: 768px) {
  .QA-item {
    padding: 16px 24px;
  }
}
.QA-item p {
  color: #747474;
  padding-top: 24px;
  line-height: 2;
  display: none;
}
.QA-title {
  justify-content: space-between;
}
.QA-title h3 {
  font-size: 18px;
}
@media (max-width: 768px) {
  .QA-title h3 {
    font-size: 16px;
  }
}
.QA-title img {
  width: 20px;
}

.active h3 {
  font-size: 18px;
  font-weight: bold;
  color: #56C4C5;
}
.active .plus {
  display: none;
}
.active .minus {
  display: block;
}

.minus {
  display: none;
}/*# sourceMappingURL=all.css.map */